# Logging
LOG_LEVEL=DEBUG
LOG_FORMAT="[%(asctime)s] #%(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s"

# Bot
BOT_TOKEN=<bot_id>:<bot_token>
ADMIN_ID=<admin_id>

DB_HOST='localhost'
DB_USER='DB_USER'
DB_PASSWORD='DB_PASSWORD'
DB_NAME='DB_NAME'